<footer>
    <div class="max_width">
        <div class="clear">
            <div class="width60">
                <ul>
                    <li><a href="/contact-us">GET IN TOUCH</a></li>
                    <li><a href="/disclaimer">DISCLAIMER</a></li>
                    <li><a href="/privacy-security-policy">PRIVACY & SECURITY POLICY</a></li>
                </ul>
                <p class="copyright hiddenMobile">Copyright © 2021 by Bharat Bill Payment System, National Payments Corporation of India. All rights reserved.</p>
            </div>
            <div class="width40 float-right">
                <ul class="mobile-link">
                    <li><a target="_blank" href="https://www.npci.org.in/">NPCI</a></li>
                    <li><a target="_blank" href="https://www.rbi.org.in/">RBI</a></li>
                    <li><a target="_blank" href="/partner/bbpou">BBPOU</a></li>
                </ul>
                <div class="social">
                    <a target="_blank" href="https://www.facebook.com/BharatBillPay"><img src="/images/facebook-logo.svg" title="facebook logo" width="24" height="24" /></a>
                    <a target="_blank" href="https://twitter.com/BharatBillPay"><img src="/images/twitter-logo.svg" title="twitter logo" width="24" height="24" /></a>
                    <a target="_blank" href="https://www.linkedin.com/company/bharat-billpay/?viewAsMember=true"><img src="/images/linkdin-logo.svg" title="linkdin logo" width="24" height="24" /></a>
                    <a target="_blank" href="https://www.instagram.com/bharatbillpay_/?hl=en"><img src="/images/Instagram.png" title="Instagram logo" width="26" height="26" /></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UChGNlCWgQIC2Qr9BDf5-5qA?view_as=subscriber"><img src="/images/Youtube.png" title="Youtube logo" width="26" height="26" /></a>
                </div>
            </div>
            <p class="copyright hiddenDesktop">Copyright© 2021 by BBPS,NPCI. All Rights Reserved</p>
        </div>
    </div>
</footer>