<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bharat Bill Pay (BBPS) - Manage Multiple Bill Payment Anywhere &amp; Anytime Easily</title>
    <meta name="title" content="Bharat Bill Pay (BBPS) -  Manage Multiple Bill Payment Anywhere &amp; Anytime Easily" />
    <meta name="description"
        content="Bharat bill pay is a platform that brings banks, e-commerce portals, and online payment platforms under one roof as its official operational units for bill collections." />
    <meta name="keywords"
        content="BBPS, #NPCI, BHIM, UMANG, PAYTM, RBI, DIGITAL INDIA,SBI,BILLPAYMENT,ICICI BANK,INDIA BILL,PUNJAB NATIONAL BANK,UPI,RUPAY,PHONEPE,MOBIKWIK,AMAZONPAY,GOOGLE TEZ,BILL AVENUE,BHARAT BILL PAYMENT SYSTEM,BILL PAYMENT SYSTEM,PUNJAB AND SIND BANK,IDFC BANK,BILLDESK,BILL JUNCTION,HDFC BANK,RBL BANK, Bill Pay, payment system in India, banks, ecommerce portals and online payment, authorized BBPS partner, Bill collection,Partner, Biller, Customer" />

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/findtp.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
   
<body>
    <div class="tabs" style="padding-top: 6rem;">
        <input  type="radio" title="tardis" name="switch" id="tardis" style="opacity: 0;">
        <input  type="radio" title="doctor" name="switch" id="doctor" style="opacity: 0;">
        <input  type="radio" title="dalek" name="switch" id="dalek" style="opacity: 0;">
        <div class="tab-links">
          <label for="tardis" id="tardis-tab" class="tab">By Address</label>
          <label for="doctor" id="doctor-tab" class="tab">By City</label>
          <label for="dalek" id="dalek-tab" class="tab">By PIN</label>
        </div>
        <div class="panels">
          <div id="tardis-panel" class="panel active">
            <p class="text-center" style="color: rgb(221, 221, 221); font-weight: 400; font: 1em sans-serif;">Search by Address</p>
            <form action="/user/findtouchpoint/1" method="POST">
                <input name="filter" id="search" type="text" placeholder="Type your Address" />
             </form> 
          </div>
          <div id="doctor-panel" class="panel">
            <p class="text-center" style="color: rgb(221, 221, 221); font-weight: 400; font: 1em sans-serif;">Search by City</p>
            <form action="/user/findtouchpoint/2" method="POST">
                <input name="filter" id="search" type="text"  placeholder="Type your city"/>
             </form>
          </div>
          <div id="dalek-panel" class="panel">
            <p class="text-center" style="color: rgb(221, 221, 221); font-weight: 400; font: 1em sans-serif;"> Search by PIN</p>
            <form action="/user/findtouchpoint/3" method="POST">
                <input name="filter" id="search" type="text" class="center" placeholder="Type your PIN"/>
             </form>
          </div>
        </div>
      </div>
       
</body>
  <script>
    const input = document.getElementById("search-input");
const searchBtn = document.getElementById("search-btn");

const expand = () => {
  searchBtn.classList.toggle("close");
  input.classList.toggle("square");
};

searchBtn.addEventListener("click", expand);



  </script>
</html>