<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bharat Bill Pay (BBPS) - Manage Multiple Bill Payment Anywhere &amp; Anytime Easily</title>
    <meta name="title" content="Bharat Bill Pay (BBPS) -  Manage Multiple Bill Payment Anywhere &amp; Anytime Easily" />
    <meta name="description"
        content="Bharat bill pay is a platform that brings banks, e-commerce portals, and online payment platforms under one roof as its official operational units for bill collections." />
    <meta name="keywords"
        content="BBPS, #NPCI, BHIM, UMANG, PAYTM, RBI, DIGITAL INDIA,SBI,BILLPAYMENT,ICICI BANK,INDIA BILL,PUNJAB NATIONAL BANK,UPI,RUPAY,PHONEPE,MOBIKWIK,AMAZONPAY,GOOGLE TEZ,BILL AVENUE,BHARAT BILL PAYMENT SYSTEM,BILL PAYMENT SYSTEM,PUNJAB AND SIND BANK,IDFC BANK,BILLDESK,BILL JUNCTION,HDFC BANK,RBL BANK, Bill Pay, payment system in India, banks, ecommerce portals and online payment, authorized BBPS partner, Bill collection,Partner, Biller, Customer" />

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/findtp.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>
    <header>
        <div style="display: none" id="ocultar">
            <p>Imagen fuente:</p>
            <img src="https://persephonemagazine.com/wp-content/uploads/2013/10/ChumHum.jpg" /></div>
        <main>
          
          <div class="contenedor">
            <div class="busqueda">
              <form action="/user/findtouchpoint/1" method="POST">
                 <input name="filter" id="search" type="text" />
              </form>
              <form action="/user/findtouchpoint/2" method="POST">
                <input name="filter" id="search" type="text" />
             </form>
             <form action="/user/findtouchpoint/3" method="POST">
                <input name="filter" id="search" type="text" />
             </form>
         <img id="buscar" class="lupa" src="https://images.vexels.com/media/users/3/140723/isolated/preview/158241d2079a635fb0cae49accb56da5-icono-de-la-lupa-by-vexels.png" />
            </div>
            <div class="contenedorLogo">
              <img src="https://www.spreadshirt.com/image-server/v1/mp/designs/1002960020,width=178,height=178/the-good-wife-chumhum.png" />
              <div class = "logo">
               chum<span class="yellow">hum</span> 
                <span class="licence">TM </span>
              </div>
              
            </div>
            
          </div>
          
        </main>
        <footer>
          <nav>
          <ul>
            <li>Chumhum agency</li>
          <li>Chumhum apps</li>
          <li>Chumhum work group</li>
          <li>Chumhum Photos</li>
         
          </ul>
        </nav>
           
          <p>© 2018 Chumhum.com<p>
        </footer>
        
    </header>
</body>

</html>