
<%- include("partials/header.ejs") -%>

<div class="container" style="min-height: 100vh; display:flex; align-items:center; justify-content:center;">
    <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Bank Name</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Account No.</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Registered Mobile Number</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">IFSC Code</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Branch</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="State Bank of India">
        </div>
        
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Pin Code</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
  
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>

    </div>
</body>
</html>