
<%- include("partials/header.ejs") -%>
<section class="inner-banner">

  <div class="max_width">
      <div class="clear">
          <div class="width50">
              <div class="content">
                  <h1><span>ADD YOUR <br></span>BANK</h1>
              </div>
          </div>
          <div class="width50">
              <span>
                  <img src="https://www.bharatbillpay.com/images/inner-banner/customer.png" alt="" title="" width="" height="" class="inner-banner-img" />
              </span>
          </div>
      </div>
  </div>       

</section>

<div class="container" style="min-height: 100vh;
                             margin-top:-5rem; 
                             display:flex; 
                             padding-top: 1rem;
                             align-items:center; 
                             justify-content:center;
                             background-color: rgb(248, 120, 0,0.1);
                             border-radius: 20px;">
    <form class="row g-3" action="/user/addBank" method="POST">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Bank Name</label>
          <input type="text" class="form-control" id="inputEmail4" name="name">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Account No.</label>
          <input type="text" class="form-control" id="inputPassword4" name="accountNumber">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Registered Mobile Number</label>
          <input type="text" class="form-control" id="inputPassword4"name="mobileNumber">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">IFSC Code</label>
          <input type="text" class="form-control" id="inputPassword4"name="ifscCode">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Branch</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="State Bank of India"name="branch">
        </div>
        
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity"name="city">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <input type="text" class="form-control" id="inputCity"name="state">
        </div>
  
        <div>
          <button type="submit" class="btn btn-primary text-right">Add this bank</button>
        </div>
      </form>

    </div>
</body>
</html>