<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bharat Bill Pay (BBPS) -  Manage Multiple Bill Payment Anywhere &amp; Anytime Easily</title>
    <meta name="title" content="Bharat Bill Pay (BBPS) -  Manage Multiple Bill Payment Anywhere &amp; Anytime Easily" />
    <meta name="description" content="Bharat bill pay is a platform that brings banks, e-commerce portals, and online payment platforms under one roof as its official operational units for bill collections." />
    <meta name="keywords" content="BBPS, #NPCI, BHIM, UMANG, PAYTM, RBI, DIGITAL INDIA,SBI,BILLPAYMENT,ICICI BANK,INDIA BILL,PUNJAB NATIONAL BANK,UPI,RUPAY,PHONEPE,MOBIKWIK,AMAZONPAY,GOOGLE TEZ,BILL AVENUE,BHARAT BILL PAYMENT SYSTEM,BILL PAYMENT SYSTEM,PUNJAB AND SIND BANK,IDFC BANK,BILLDESK,BILL JUNCTION,HDFC BANK,RBL BANK, Bill Pay, payment system in India, banks, ecommerce portals and online payment, authorized BBPS partner, Bill collection,Partner, Biller, Customer" />

    <!--<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">-->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body> 
<header>
    <div class="max_width">
        <div class="clear">
            <div class="header-item">
                <div class="hamburger">
                    <a href="javascript:;" class="open-menu-btn">
                        <img src="https://www.bharatbillpay.com/images/hamburger.svg" title="Hamburger" width="56" height="28" />
                    </a>
                </div>
                <div class="logo">
                    <a href="/">
                        <img src="https://www.bharatbillpay.com/images/logo.png" title="Logo" width="45" height="66" />
                    </a>
                </div>
                <div class="right-menu">
                <div class="right-item">
                        <a href="/bill-pay/">
                            <img src="https://www.bharatbillpay.com/images/bill-pay.png" title="Bill Pay" width="32" height="32" />
                            <span>Bill Pay</span>
                        </a>
                    </div>
                    <div class="right-item">
                        <a href="/contact-us">
                            <img src="https://www.bharatbillpay.com/images/phone-call.svg" title="Get in touch" width="23" height="23" />
                            <span>Get in touch</span>
                        </a>
                    </div>
                    <div class="right-item">
                        <a href="/customer#find-nearest">
                            <img src="https://www.bharatbillpay.com/images/location.svg" title="Find nearest bill pay outlet" width="19" height="23"/>
                            <span>Find nearest bill pay outlet</span>
                        </a>
                    </div>
                    <div class="right-item">
                        <a href="#">
                            <span>Automate</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="menu-logo">
            <a href="/">
                <img src="/images/logo.png" title="Logo" width="151" height="50" />
            </a>
            <div class="close-menu">
                <img src="/images/close.svg" title="Close" width="150" height="150"/>
            </div>
        </div>
        <div class="menu-item">
            <ul>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="javascript:;" class="arrow">Partner</a>
                    <ul class="submenu">
                        <li><a href="/partner/bbpou">BBPOU</a></li>
                        <li><a href="/partner/agent-institution">Agent Institution</a></li>
                        <li><a href="/tsp-empanelment">Technical Service Provider (TSP) Empanelment</a></li>
                        <li><a href="/partner/agent">Agent</a></li>
                    </ul>
                </li>
                <li><a href="/biller">Biller</a></li>
                <li><a href="/customer">Customer</a></li>
                <li><a href="/media">Media</a></li>
                <!--<li><a href="javascript:;" class="arrow">What's New</a>
                    <ul class="submenu">
                        <li><a href="/whats-new/media">Media</a></li>
                        <li><a href="/whats-new/news-connect">News Connect</a></li>
                        <li><a href="/whats-new/latest-updates">Latest Updates</a></li>
                    </ul>
                </li>-->
                <li><a href="/library">Library</a></li>
                <li><a href="/faqs">FAQs</a></li>
                <li><a href="/statistics/">Statistics</a></li>
                <li><a href="/sitemap">Sitemap</a></li>
                <li><a href="/copyrights">Copyrights</a></li>
            </ul>
        </div>

    </div>
</header>
<form id="__AjaxAntiForgeryForm" action="#" method="post"><input name="__RequestVerificationToken" type="hidden" value="4xkYSlfLeqm0dJwSxLzb-4hAJrVx-upbee8JZXqhQ7gBAb1Dcgr1nHOmcMfk8iG_euE9D5RuabVQYSzq0O6Okej6HUOtNB7gTuOe7L43HA41" /></form>


<!--
Start of Floodlight Tag: Please do not remove
Activity name of this tag: Home Page(https://www.bharatbillpay.com)
URL of the webpage where the tag is expected to be placed: 
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 03/18/2021
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
$("body").append(
'<iframe src="https://10001767.fls.doubleclick.net/activityi;src=10001767;type=invmedia;cat=homep0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=' +
    a +
    '?" width="1" height="1" frameborder="0" style="display:none"></iframe>'
);
</script>
<noscript>
<iframe
src="https://10001767.fls.doubleclick.net/activityi;src=10001767;type=invmedia;cat=homep0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?"
width="1"
height="1"
frameborder="0"
style="display: none;"
></iframe>
</noscript>
<style>
.bill-pay-for ul li a {
color: #e1e2e5;
}
</style>
<!-- End of Floodlight Tag: Please do not remove -->

<section class="banner_section">
<div id="main-slider" class="main-slider">
<div class="item">
    <div class="slider_img">
       <img src="https://www.bharatbillpay.com/images/slider/slider01.jpg">
    </div>
    <div class="slider-content" style="margin-top:-20rem">
        <h1>
            <span>A one stop solution</span><br />
            for all your bill payments
        </h1>
        <div class="input-box">
            <input type="text" id="txtBanks" placeholder="Enter your bank or non bank name" />
            <button onclick="return BankRedirect()">PAY</button>
        </div>
        <hr />
        <h5>Pay <b>anytime</b> and from <b>anywhere</b></h5>
    </div>
</div>

<div class="item">
    <div class="slider_img">
        <span class="hiddenMobile">
            <img src="/images/slider/be-stress-banner.jpg" alt="" title="" width="1366" height="660" />
        </span>
        <span class="hiddenDesktop">
            <img src="/images/slider/be-stress-mob-banner.jpg" alt="" title="" width="320" height="440" />
        </span>
    </div>
</div>
</div>
</section>

<section class="bill-pay-for">
<div class="max_width">
<div class="clear">
    <div>
        <ul>
            <li class="light">PAY BILLS FOR :</li>
            <li>ELECTRICITY</li>
            <li class="line"></li>
            <li>GAS</li>
            <li class="line"></li>
            <li>WATER</li>
            <li class="line hiddenMobile"></li>
            <li>TELECOM</li>
            <li class="line"></li>
            <li>INSURANCE</li>
            <li class="line"></li>
            <li>LOAN REPAYMENTS</li>
            <li class="line"></li>
            <li><a href="/education">EDUCATION</a></li>
            <li class="line hiddenMobile"></li>
            <li class="bill-mobile-center">FASTAG RECHARGE</li>
        </ul>
    </div>
</div>
</div>
</section>





<footer>
    <div class="max_width">
        <div class="clear">
            <div class="width60">
                <ul>
                    <li><a href="/contact-us">GET IN TOUCH</a></li>
                    <li><a href="/disclaimer">DISCLAIMER</a></li>
                    <li><a href="/privacy-security-policy">PRIVACY & SECURITY POLICY</a></li>
                </ul>
                <p class="copyright hiddenMobile">Copyright © 2021 by Bharat Bill Payment System, National Payments Corporation of India. All rights reserved.</p>
            </div>
            <div class="width40 float-right">
                <ul class="mobile-link">
                    <li><a target="_blank" href="https://www.npci.org.in/">NPCI</a></li>
                    <li><a target="_blank" href="https://www.rbi.org.in/">RBI</a></li>
                    <li><a target="_blank" href="/partner/bbpou">BBPOU</a></li>
                </ul>
                <div class="social">
                    <a target="_blank" href="https://www.facebook.com/BharatBillPay"><img src="/images/facebook-logo.svg" title="facebook logo" width="24" height="24" /></a>
                    <a target="_blank" href="https://twitter.com/BharatBillPay"><img src="/images/twitter-logo.svg" title="twitter logo" width="24" height="24" /></a>
                    <a target="_blank" href="https://www.linkedin.com/company/bharat-billpay/?viewAsMember=true"><img src="/images/linkdin-logo.svg" title="linkdin logo" width="24" height="24" /></a>
                    <a target="_blank" href="https://www.instagram.com/bharatbillpay_/?hl=en"><img src="/images/Instagram.png" title="Instagram logo" width="26" height="26" /></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UChGNlCWgQIC2Qr9BDf5-5qA?view_as=subscriber"><img src="/images/Youtube.png" title="Youtube logo" width="26" height="26" /></a>
                </div>
            </div>
            <p class="copyright hiddenDesktop">Copyright© 2021 by BBPS,NPCI. All Rights Reserved</p>
        </div>
    </div>
</footer>


<script type="text/javascript" src="/scripts/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/owl.carousel.min.js"></script>
<!--<script type="text/javascript" src="/scripts/lazyload.js"></script>-->
<script type="text/javascript" src="/scripts/lightbox.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.sumoselect.min.js"></script>
<script type="text/javascript" src="/scripts/main.js" ></script>

<script type="text/javascript">
    window.Search = $('.sumo_dd_names').SumoSelect({ 
        csvDispCount: 3, search: true, searchText:'Search Name...' 
    });
</script>
<script defer type="text/javascript">    
var cb = function() {
var l = document.createElement('link'); l.rel = 'stylesheet';
l.href = '/fonts/fonts.css';
var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h); };
var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(cb);
else window.addEventListener('load', cb);
</script>
<noscript>
    <link rel="stylesheet" href="/fonts/fonts.css" type="text/css" media="screen">
</noscript>  

</body>

</html>