<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bharat Bill Pay (BBPS) - Manage Multiple Bill Payment Anywhere &amp; Anytime Easily</title>
    <meta name="title" content="Bharat Bill Pay (BBPS) -  Manage Multiple Bill Payment Anywhere &amp; Anytime Easily" />
    <meta name="description"
        content="Bharat bill pay is a platform that brings banks, e-commerce portals, and online payment platforms under one roof as its official operational units for bill collections." />
    <meta name="keywords"
        content="BBPS, #NPCI, BHIM, UMANG, PAYTM, RBI, DIGITAL INDIA,SBI,BILLPAYMENT,ICICI BANK,INDIA BILL,PUNJAB NATIONAL BANK,UPI,RUPAY,PHONEPE,MOBIKWIK,AMAZONPAY,GOOGLE TEZ,BILL AVENUE,BHARAT BILL PAYMENT SYSTEM,BILL PAYMENT SYSTEM,PUNJAB AND SIND BANK,IDFC BANK,BILLDESK,BILL JUNCTION,HDFC BANK,RBL BANK, Bill Pay, payment system in India, banks, ecommerce portals and online payment, authorized BBPS partner, Bill collection,Partner, Biller, Customer" />

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/touchpoint.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body style="scroll-behavior: smooth;">
    <header>
      <%- include("partials/header.ejs") -%>


     
                    
              
        <div class="container" style="padding-top: 4rem; 
        background-image: url(https://www.bharatbillpay.com/images/slider/slider01.jpg); 
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;">

        <form class="well form-horizontal" action="/user/becometouchpoint" method="POST"  id="contact_form" style="
        background-color: rgba(226, 45, 0, 0.1);
        border-radius: 15px;
        padding-top: 2rem;
        ">
        <fieldset>
        <legend>Become a TouchPoint Today!</legend>
        <div class="form-group">
          <label class="col-md-4 control-label">Name</label>  
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="name" placeholder="First Name" class="form-control"  type="text">
            </div>
          </div>
        </div>
        
        <!-- Text input-->
    
        <!-- Text input
        <div class="form-group">
          <label class="col-md-4 control-label">E-Mail</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
            </div>
          </div>
        </div> -->
        
        
        <!-- Text input-->
               
        <div class="form-group">
          <label class="col-md-4 control-label">Phone #</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
          <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
            </div>
          </div>
        </div>
        
        <!-- Text input-->
              
        <div class="form-group">
          <label class="col-md-4 control-label">Address</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <input name="address" placeholder="Address" class="form-control" type="text">
            </div>
          </div>
        </div>
        
        <!-- Text input-->
         
        <div class="form-group">
          <label class="col-md-4 control-label">City</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <input name="city" placeholder="city" class="form-control"  type="text">
            </div>
          </div>
        </div>
        
        <!-- Select Basic -->
           
        <!-- <div class="form-group"> 
          <label class="col-md-4 control-label">State</label>
            <div class="col-md-4 selectContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="state" class="form-control selectpicker" >
              <option value=" " >Please select your state</option>
              <option>Alabama</option>
              <option>Alaska</option>
              <option >Arizona</option>
              <option >Arkansas</option>
              <option >California</option>
              <option >Colorado</option>
              <option >Connecticut</option>
              <option >Delaware</option>
              <option >District of Columbia</option>
              <option> Florida</option>
              <option >Georgia</option>
              <option >Hawaii</option>
              <option >daho</option>
              <option >Illinois</option>
              <option >Indiana</option>
              <option >Iowa</option>
              <option> Kansas</option>
              <option >Kentucky</option>
              <option >Louisiana</option>
              <option>Maine</option>
              <option >Maryland</option>
              <option> Mass</option>
              <option >Michigan</option>
              <option >Minnesota</option>
              <option>Mississippi</option>
              <option>Missouri</option>
              <option>Montana</option>
              <option>Nebraska</option>
              <option>Nevada</option>
              <option>New Hampshire</option>
              <option>New Jersey</option>
              <option>New Mexico</option>
              <option>New York</option>
              <option>North Carolina</option>
              <option>North Dakota</option>
              <option>Ohio</option>
              <option>Oklahoma</option>
              <option>Oregon</option>
              <option>Pennsylvania</option>
              <option>Rhode Island</option>
              <option>South Carolina</option>
              <option>South Dakota</option>
              <option>Tennessee</option>
              <option>Texas</option>
              <option> Uttah</option>
              <option>Vermont</option>
              <option>Virginia</option>
              <option >Washington</option>
              <option >West Virginia</option>
              <option>Wisconsin</option>
              <option >Wyoming</option>
            </select>
          </div>
        </div>
        </div> -->
        
        <!-- Text input-->
        
        <div class="form-group">
          <label class="col-md-4 control-label">PIN Code</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <input name="zip" placeholder="Zip Code" class="form-control"  type="text">
            </div>
        </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
          </div>
        </div>
        
        </fieldset>
        </form>
        </div>
            </div><!-- /.container -->
    </header>
</body>

</html>