<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bharat Bill Pay (BBPS) - Manage Multiple Bill Payment Anywhere &amp; Anytime Easily</title>
    <meta name="title" content="Bharat Bill Pay (BBPS) -  Manage Multiple Bill Payment Anywhere &amp; Anytime Easily" />
    <meta name="description"
        content="Bharat bill pay is a platform that brings banks, e-commerce portals, and online payment platforms under one roof as its official operational units for bill collections." />
    <meta name="keywords"
        content="BBPS, #NPCI, BHIM, UMANG, PAYTM, RBI, DIGITAL INDIA,SBI,BILLPAYMENT,ICICI BANK,INDIA BILL,PUNJAB NATIONAL BANK,UPI,RUPAY,PHONEPE,MOBIKWIK,AMAZONPAY,GOOGLE TEZ,BILL AVENUE,BHARAT BILL PAYMENT SYSTEM,BILL PAYMENT SYSTEM,PUNJAB AND SIND BANK,IDFC BANK,BILLDESK,BILL JUNCTION,HDFC BANK,RBL BANK, Bill Pay, payment system in India, banks, ecommerce portals and online payment, authorized BBPS partner, Bill collection,Partner, Biller, Customer" />

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>
    <h1> Search Results</h1>
    <% byAddress.map(data => data)%>
</body>

</html>