
  #search {
    background-color: #c0c0c0;
    color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .tabs {
    margin-top: 10rem;
    margin-left: 40rem;
  }
  .tabs .switch {
    position: absolute;
    z-index: 1;
  }
  
  .tabs .tab {
    color: rgb(3, 3, 3);
    cursor: pointer;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 2;

  }
  .searchtext {
      margin-right: 20px;
      background-color: #627c92 !important;
  }
  .panel {
      background-color: rgb(90, 90, 90) !important;
      border-radius: 13px;
      height: 7rem;
      width: 30rem;
      margin-left: -8rem;
  }
  #tardis:checked ~ .tab-links #tardis-tab,#doctor:checked ~ .tab-links #doctor-tab,#dalek:checked ~ .tab-links #dalek-tab {
    background-color: #FE9900;
    color: #000;
    cursor: default;
  }
  
  .tabs .panels {
    padding: 50px;
  }
  
  .tabs .panel {
    bottom: -9999;
    display: inline-block;
    left: -9999;
    opacity: 0;
    position: absolute;
  }
  
  #tardis:checked ~ .panels #tardis-panel,#doctor:checked ~ .panels #doctor-panel,#dalek:checked ~ .panels #dalek-panel {
    left: 0;
    opacity: 1;
    position: relative;
  }
  
  body {
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    background-image: url('img/bg-tp.jpg')!important;
    background-size: cover;
    background-repeat: no-repeat;

}
  h2 {
    color: #00203c;
  }
  
  p {
    color: #00203c;
    margin-bottom: 15px;
  }
  .tabs .tab:hover {
    background-color: #FE9900;
    color: #000;
  }
  
  